<div class="col-md-12">
    <h2>Détails Trip</h2>
</div>

<ul *ngIf="selectedTrip" class="col-md-6">
    <li><i class="fa fa-address-book"></i><span>{{selectedTrip?.id}}</span></li>
    <li><i class="fa fa-location-arrow"></i><span>{{selectedTrip?.name}}</span></li>
    <li><i class="fa fa-hourglass"></i><span>{{selectedTrip?.leaving | fmTripDate}}</span></li>
    <li><i class="fa fa-hotel"></i><span>{{selectedTrip?.country}}</span></li>
    <li><i class="fa-home"></i><span>{{selectedTrip?.continent}}</span></li>
    <li><i class="fa fa-first-order"></i><span>{{selectedTrip?.rating}}</span></li>
    <li><button class="btn btn-sm btn-success" (click)="buyTrip(selectedTrip)" [disabled]="isBought">Ajouter à mes trips</button></li>
    <li>
        <h4>
            {{isBoughtMessage}}
            <span>
                <a *ngIf="isBought" [routerLink]="['stop']" class="btn btn-link btn-md"><i class="fa fa-arrow-up"></i> Ajouter Stops</a>
            </span>
        </h4>    
    </li>   
</ul>
<ul class="col-md-6">
    <li>
        <h4>
            Visualiser Stops
            <span>
                <a [routerLink]="['edit']" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></a>
                <button (click)="goBack()" class="btn btn-sm btn-primary"><i class="fa fa-arrow-up"></i> Retour</button>
                <button (click)="refreshTrip()" kendoButton [primary]="true" [icon]="'refresh'" class="refreshButton"> Actualiser</button>
            </span>
            <a *ngIf="isRefreshTrip"><i class="fa fa-spinner fa-spin fa-3x"></i></a>
        </h4>
    </li>
</ul>

<router-outlet></router-outlet>

