<h2>Détails Trip</h2>

<ul *ngIf="selectedTrip" class="col-md-6">
    <li><i class="fa fa-address-book"></i><span>{{selectedTrip?.id}}</span></li>
    <li><i class="fa fa-location-arrow"></i><span>{{selectedTrip?.name}}</span></li>
    <li><i class="fa fa-hourglass"></i><span>{{selectedTrip?.leaving | fmTripDate}}</span></li>
    <li><i class="fa fa-hotel"></i><span>{{selectedTrip?.country}}</span></li>
    <li><i class="fa-home"></i><span>{{selectedTrip?.continent}}</span></li>
    <li><i class="fa fa-first-order"></i><span>{{selectedTrip?.rating}}</span></li>
    <li><button class="btn btn-sm btn-success" (click)="buyTrip(selectedTrip)" [disabled]="isBought">Ajouter à mes trips</button></li>
    <li><h4>{{isBoughtMessage}}</h4></li>
</ul>
<ul class="col-md-6">
    <li>Créer un nouveau stop<span><a [routerLink]="['stop']" class="btn btn-sm btn-primary"><i class="fa fa-arrow-up"></i></a></span></li>
    <li><a [routerLink]="['edit']">Éditer Trip</a></li>
</ul>

<router-outlet></router-outlet>

<div class="col-md-12">
    <button (click)="goBack()" class="btn btn-lg btn-primary">Back</button>
</div>