<div class="container col-md-6 col-md-offset-3">
    <h1>Weather Form</h1>
    <div>
        <form (ngSubmit)="onSubmit(weatherForm)" #weatherForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="weatherToSave.name">
            </div>

            <div class="form-group">
                <label for="hour">Hour</label>
                <input type="time" class="form-control" id="hour" name="hour" [(ngModel)]="weatherToSave.hour" required />
            </div>

            <div class="form-group">
                <label for="tempC">Temp *C</label>
                <input type="number" class="form-control" id="tempC" name="tempC" [(ngModel)]="weatherToSave.tempC" />
            </div>

            <div class="form-group">
                <label for="summary">Summary</label>
                <input type="text" class="form-control" id="summary" name="summary" [(ngModel)]="weatherToSave.summary" />
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!weatherForm.valid || modeEdit">Submit</button>
            <button *ngIf="modeEdit" type="submit" class="btn btn-success" [disabled]="!weatherForm.valid">Edit</button>
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{weatherToSave.name}}</div>
        </div>

        <div class="row">
            <div class="col-xs-3">Hour AM/PM</div>
            <div class="col-xs-9 pull-left">{{weatherToSave.hour | fmHourLocal}}</div>
        </div>

        <div class="row">
            <div class="col-xs-3">Temperature *C</div>
            <div class="col-xs-9 pull-left">{{weatherToSave.tempC}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Summary</div>
            <div class="col-xs-9 pull-left">{{weatherToSave.summary}}</div>
        </div>

        <div class="row">
            <div class="col-xs-3">Temperature F</div>
            <div class="col-xs-9 pull-left">{{weatherToSave.temperatureF}}</div>
        </div>
    </div>

</div>