<h2>{{messageDetails}}</h2>

<div *ngIf="weather">
    <h1>Détails Température</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Heure AM/PM</th>
                <th>Température °C</th>
                <th>Sommaire</th>
                <th>Température °F</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{weather?.id}}</td>
                <td>{{weather?.name}}</td>
                <td>{{weather?.hour | fmHourLocal}}</td>
                <td>{{weather?.tempC}}</td>
                <td>{{weather?.summary}}</td>
                <td>{{weather?.temperatureF}}</td>
            </tr>
        </tbody>
    </table>
</div>

