<h2>{{messageDetails}}</h2>

<div *ngIf="weather">
    <h1>Weather Detail</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Hour AM/PM</th>
                <th>TempC</th>
                <th>Summary</th>
                <th>Temp F</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{weather?.id}}</td>
                <td>{{weather?.name}}</td>
                <td>{{weather?.hour | fmHourLocal}}</td>
                <td>{{weather?.tempC}}</td>
                <td>{{weather?.summary}}</td>
                <td>{{weather?.temperatureF}}</td>
            </tr>
        </tbody>
    </table>
</div>

