<h2>{{messageDetails}}</h2>

<div *ngIf="weather">
    <h1>Weather Detail</h1>

    <h3>Weather for {{weather?.city}}</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>TempC</th>
                <th>Summary</th>
                <th>City</th>
                <th>Temp F</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{weather?.id}}</td>
                <td>{{weather?.name}}</td>
                <td>{{weather?.date | fmDateLocal}}</td>
                <td>{{weather?.tempC}}</td>
                <td>{{weather?.summary}}</td>
                <td>{{weather?.city}}</td>
                <td>{{weather?.temperatureF}}</td>
            </tr>
        </tbody>
    </table>
</div>

