<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Angular2CoreSeed</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li routerLinkActive="link-active">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li>
                    <a>
                        <span class="glyphicon glyphicon-user"></span> Sign Up
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class="glyphicon glyphicon-log-in"></span> Sign In
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/trips']">
                        <span class="glyphicon glyphicon-road"></span> Trips
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/weatherConstraints']">
                        <span class="glyphicon glyphicon-star-empty"></span> Statistiques Temperatures
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/login']">
                        <span class="glyphicon glyphicon-log-out"></span> LogOut
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
