<div class="form-group col-md-12 deleteBlock">
    <delete [isDelete]="inputDelete" [weatherToDeleteId]="inputIdDelete" [objectToDelete]="objectName" (deleteSuccess)="refreshResults($event)"></delete>
</div>

<ul class="col-md-9 col-sm-12">
    <li><h3>Stops</h3></li>
    <li *ngFor="let stop of selectedTrip?.stops" class="col-md-12">
        <div class="col-md-8 col-sm-12 rowBlock"
             (@flyInOut.start)="animStopStarted($event)"
             (@flyInOut.done)="animStopDone($event)"
             [@flyInOut]="flyState">
            <span><i class="fa fa-stop"></i></span>
            <button #anchor class="btn btn-link btn-md" (click)="onTogglePopUp(stop.id)">
                {{toggleText}} Détails {{stop?.name}}
            </button>
            <div class="popUpWrapper">
                <kendo-popup class="popUpContent" [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="stop?.showPopUp">
                    {{stop?.arrival | fmTripDate}}, {{stop?.leaving | fmTripDate}},  À {{stop?.city}}, Cuisine {{stop?.cuisine}},
                    {{stop?.guide}}, Quoté {{stop?.quote}}
                </kendo-popup>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <span><button [disabled]="!isAdmin" class="btn btn-md btn-danger active crudButtons" (click)="deleteStop(stop.id)"><i class="fa fa-trash"></i> Supprimer</button></span>
            <span><button class="btn btn-md btn-success active crudButtons" (click)="ajouteTemp(stop.id)"><i class="fa fa-plus"></i> Température</button></span>
        </div>
    </li>
</ul>
<div class="col-md-3 col-sm-12" [@animStop]="state" (click)="toggleState()">
    <kendo-scrollview class="col-md-12" [data]="items"
                      [animate]="animate"
                      [endless]="endless"
                      [width]="width"
                      [height]="height"
                      [arrows]="true"
                      [pageable]="true">
        <template let-item="item">
            <h4 class="demo-title">{{item.title}}</h4>
            <img src='{{item.url}}' alt='{{item.title}}' [ngStyle]="{width: width, height: height}" draggable="false" />
        </template>
    </kendo-scrollview>
</div>
<div class="col-md-12 alert alert-danger noStops" role="alert" *ngIf="!selectedTrip?.stops.length">
    <h4><i class="fa fa-exclamation-triangle"></i> Aucuns Stops</h4>
</div>




