span{
    display: inline-block;
}

ul{
    list-style-type: none;
}

ul li > div:last-of-type{
    padding: 1%;
    display: inline-block;
}

a{
    cursor: pointer;
}

.deleteBlock{
    float: left;
    clear: both;
}

.noStops{
    text-align: center;
    padding: 2%;
    margin: 2% 0;
}

.popUpContent {
    padding: 15px;
    color: #787878;
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(21, 5, 5, 0.12);
}

.popUpWrapper{
    min-width: 100px;
    min-height: 5px;
}

.rowBlock{
    box-shadow:2px 2px 2px gray,-1px -1px 2px white;
}

.crudButtons{
    float: left;
}