<div class="form-group col-md-12 deleteBlock">
    <delete [isDelete]="inputDelete" [weatherToDeleteId]="inputIdDelete" [objectToDelete]="objectName" (deleteSuccess)="refreshResults($event)"></delete>
</div>

<ul class="col-md-12">
    <li><h3>Stops</h3></li>
    <li *ngFor="let stop of selectedTrip?.stops">
        <div class="col-md-6">
            <span><i class="fa fa-spinner fa-spin"></i></span>
            <a (click)="onTogglePopUp()">
                {{stop?.name}}, {{stop?.arrival | fmTripDate}}, {{stop?.leaving | fmTripDate}}, {{stop?.city}}
            </a>
  
        </div>

        <div class="col-md-3">
            <span><a class="btn btn-sm btn-danger active" (click)="deleteStop(stop.id)"><i class="fa fa-trash"></i> Supprimer</a></span>
            <span><a class="btn btn-sm btn-success active" (click)="addStop(stop)"><i class="fa fa-plus"></i> Ajouter Stop</a></span>
        </div>
        <div class="col-md-3">
            <span>put picture here</span>
        </div>
    </li>
</ul>
<ul class="col-md-12">
    <li>Ou Créez un Stop<a class="btn-md btn btn-link" [routerLink]="'../stop'">Personnalisé</a></li>
</ul>
<div class="col-md-12 alert alert-danger alertStops" role="alert" *ngIf="!selectedTrip?.stops.length">
    <h4><i class="fa fa-exclamation-triangle"></i> Aucuns Stops</h4>
    <a class="link-active alert-link"  [routerLink]="'../stop'">Créez un stop</a>
</div>




