span{
    display: inline-block;
}

ul{
    list-style-type: none;
}

ul li > div:last-of-type{
    padding: 1%;
    display: inline-block;
}

a{
    cursor: pointer;
}


.deleteBlock{
    float: left;
    clear: both;
}

.content {
padding: 30px;
color: #787878;
background-color: #fcf7f8;
border: 1px solid rgba(0,0,0,.05);
}

.popup {
width: 100px;
height: 70px;
}

.popup > ul {
    list-style-type: decimal;
    text-align: left;
}

.alertStops{
    text-align: center;
    padding: 2%;
    margin: 2% 0;
}