ul{
    list-style-type: none;
    float: left;
    width: auto;
    height: auto;
    padding: 1%;
}

div > ul{
    background-color:ivory;
}

div div > ul{
    background-color:aliceblue;
    margin: 0.5%;
}

.userButtons{
    padding: 5% 0;
}

.userActions{
    text-align: center;
    float: left;
}

.userActions:first-child{
    opacity: 0.8;
}

.swipe-box {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
