ul{
    list-style-type: none;
    float: left;
    width: auto;
    height: auto;
    padding: 1%;
}

div > ul{
    background-color:ivory;
}

div div > ul{
    background-color:aliceblue;
    margin: 0.5%;
}

.userActions{
    text-align: center;
    margin: 1%;
}