<h2>{{userMessage}}</h2>

<delete [isDelete]="inputDelete" [tripToDelete]="selectedTrip" [objectToDelete]="objectName" (deleteSuccess)="refreshResults($event)"></delete>

<h1>Mes Trips</h1>
<h2>Swipe <i class="fa fa-arrow-left"></i> Ou <i class="fa fa-arrow-right"></i></h2>

<div *ngFor="let trip of mesTrips; let idx=index" class="col-md-12 swipe-box" 
     (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)"
     [class.visible]="trip.visible" [class.hidden]="!trip.visible">
    <div class="card col-md-3">
        <div class="card-header">
            <h4 class="card-title">Trip</h4>
            <h5 class="text-muted">Contient {{trip?.stops.length}} stops</h5>
        </div>
        <i class="card-img-top fa fa-picture-o fa-2x" aria-hidden="true"></i>
        <div class="card card-block">
            <p class="card-text"># Réservation : {{trip?.id}}</p>
            <p class="card-text">Nom : {{trip?.name}}</p>
            <p class="card-text">Date de départ : {{trip?.leaving | fmTripDate}}</p>
            <p class="card-text">Pays : {{trip?.country}}</p>
            <p class="card-text">Continent : {{trip?.continent}}</p>
            <div class="userButtons">
                <a class="card-link btn btn-md btn-secondary active col-md-6 userActions" (click)="deleteTrip(trip)"><i class="fa fa-trash"></i> Supprimer</a>
                <a class="card-link btn btn-md btn-info active col-md-6 userActions" (click)="addStops(trip.id)"><i class="fa fa-plus"></i> Ajouter Stops</a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    <div class="col-md-9">
        <ul *ngFor="let stop of trip?.stops; let i = index">
            <li>Stop # {{i + 1}}</li>
            <li>Nom : {{stop?.name}}</li>
            <li>Date d'arrivée : {{stop?.arrival | fmTripDate}}</li>
            <li>Date de départ : {{stop?.leaving | fmTripDate}}</li>
            <li>Ville : {{stop?.city}}</li>
            <li>Cuisine : {{stop?.cuisine}}</li>
            <li>Guide : {{stop?.guide}}</li>
            <li>Quote : {{stop?.quote}}</li>
        </ul>
    </div>
</div>


<a class="btn btn-lg btn-primary backButton" (click)="goBack()"><i class="fa fa-arrow-up"></i> Retour</a>

