<h2>{{userMessage}}</h2>

<delete [isDelete]="inputDelete" [tripToDelete]="selectedTrip" [objectToDelete]="objectName" (deleteSuccess)="refreshResults($event)"></delete>

<h3>Mes Trips</h3>
<div *ngFor="let trip of mesTrips" class="col-md-12">
    <ul class="col-md-3">
        <li># Réservation : {{trip?.id}}</li>
        <li>Nom : {{trip?.name}}</li>
        <li>Date de départ : {{trip?.leaving | fmTripDate}}</li>
        <li>Pays : {{trip?.country}}</li>
        <li>Continent : {{trip?.continent}}</li>
        <li class="userButtons">
            <a class="btn btn-md btn-danger col-md-6 userActions" (click)="deleteTrip(trip)">Supprimer</a>
            <a class="btn btn-md btn-success col-md-6 userActions" (click)="addStops(trip.id)">Ajouter Stops</a>
        </li>
    </ul>

    <div class="col-md-9">
        <ul *ngFor="let stop of trip.stops; let i = index">
            <li>Stop # {{i + 1}}</li>
            <li>Nom : {{stop?.name}}</li>
            <li>Date d'arrivée : {{stop?.arrival | fmTripDate}}</li>
            <li>Date de départ : {{stop?.leaving | fmTripDate}}</li>
            <li>Ville : {{stop?.city}}</li>
            <li>Quote : {{stop?.quote}}</li>
        </ul>
    </div>
</div>
<h2><i class="fa fa-arrow-up"></i></h2>
<a class="btn btn-lg btn-primary" (click)="goBack()">Back</a>
