<h1>Bienvenue {{userName}}</h1>
<a class="btn btn-sm btn-success" [routerLink]="['/trips/perso']">Voir mes trips</a>
<router-outlet></router-outlet>

<h2>{{titreTrip}}</h2>
<h3>Disponibles présentement</h3>

<div *ngFor="let trip of trips" class="infosTrip col-md-12">
    <ul>
        <li>{{trip?.name}}</li>
        <li>{{trip?.country}}</li>
        <li>{{trip?.continent}}</li>
    </ul>
    <p>Date de Départ : {{trip?.leaving | fmTripDate}}</p>
    <a class="btn btn-sm btn-primary" [routerLink]="[trip.id]">Voir Trip</a>
</div>

