html{
    font-size: 10px;
}

ul{
    list-style-type: none;
}

a{
    cursor: pointer;
    text-decoration: none;
    margin: 1% 0 1% 0;
}

header{
    background-color: azure;
    padding: 2%;
}

header > h1, header > h2{
    display: inline;
}

main{
    text-align: center;
    width: auto;
    height: auto;
    display: block;
}

.infosTrip{
    width: 20%;
    height: 20%;
    background-color:azure;
    color: darkblue;
    border: 1px solid black;
    float: left;
    text-align: center;
    opacity: 0.4;
    padding: 0;
    margin: 2.5%;
}

div > ul{
    text-align: left;
    padding: 5%;
}

.infosTrip:hover{
    opacity: 1;
    transition-property: all;
    transition-duration: 1.5s;
    transition-delay: 0s;
    transform: rotateY(15deg);
}
.infosTrip:hover, section{
    cursor: pointer;
}

section{
    float: left;
    clear: both;
    text-align: left;
    padding: 0;
}

pagination-controls{
    text-align: center;
    padding: 1% 0 1% 0;
}
