<h1>Bienvenue {{userName}}</h1>
<a class="btn btn-sm btn-success" [routerLink]="['/trips/perso']">Voir mes trips</a>

<h2>{{titreTrip}}</h2>
<h3>Disponibles présentement</h3>

<main class="col-md-12">
    <div *ngFor="let trip of trips | paginate: { itemsPerPage: 8, currentPage: p }" class="infosTrip col-md-2">
        <ul>
            <li>{{trip?.name}}</li>
            <li>{{trip?.country}}</li>
            <li>{{trip?.continent}}</li>
            <li>Rating : {{trip?.rating}}</li>
        </ul>
        <p>Date de Départ : {{trip?.leaving | fmTripDate}}</p>
        <a class="btn btn-sm btn-primary" [routerLink]="[trip.id]">Voir Trip</a>
    </div>

    <section class="col-md-12">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <a class="btn btn-md btn-primary" [routerLink]="['best']">Voir Best Trips</a>
    </section>
</main>

<section class="col-md-12">
    <router-outlet></router-outlet>
</section>