<header>
    <h1>Bienvenue </h1>
    <h2> {{userName}}</h2>
</header>
<a class="btn btn-md btn-info active" [routerLink]="['/trips/perso']">Mes trips</a>

<h2>{{titreTrip}}</h2>
<a class="btn btn-md btn-primary" [routerLink]="['best']">Meilleurs Trips</a>

<router-outlet></router-outlet>

<h3>Disponibles présentement</h3>

<nav class="navbar navbar-default col-md-12 col-sm-12">
    <div class="navbar-left navbar-header col-md-2">
        <span class="navbar-brand">
            <i class="fa fa-search"></i>
        </span>
    </div>
    <div class="col-md-8">
        <form class="navbar-form navbar-left" role="Search">
            <div class="input-group">
                <input type="text" #inputIdSearch class="form-control" placeholder="{{searchMessage}}">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-info" #anchor (click)="onToggleIdPopUp()"><i class="fa fa-info"></i></button>
                    <button type="submit" (click)="searchTripId(inputIdSearch)" class="btn btn-default">Go!</button>
                </div>
                <kendo-popup class="popUpContent" [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="showPopUpId">
                    Rechercher par Id de trip.
                </kendo-popup>
            </div>
        </form>
    </div>
    <div class="navbar-right col-md-2">
        <button (click)="refreshTrips()" kendoButton [primary]="true" [icon]="'refresh'" class="refreshButton">Actualiser</button>
    </div>   
</nav>

<div class="col-md-12 col-sm-12" style="text-align: center">
    <i *ngIf="reqTrips" class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<main class="col-md-12">
    <template *ngIf="!trips.length">
        <h3>Aucuns Trips</h3>
    </template>
    <div *ngFor="let trip of trips | paginate: { itemsPerPage: 8, currentPage: p }" class="infosTrip col-md-2">
        <button (click)="deleteTrip(trip)" kendoButton [primary]="true" class="deleteTripButton"><i class="fa fa-trash"></i></button>
        <ul>
            <li>Nom : {{trip?.name}}</li>
            <li>Pays : {{trip?.country}}</li>
            <li>Continent : {{trip?.continent}}</li>
            <li #anchor>
                Rating : <rating class="rating" *ngIf="trip?.rating" [rating]='trip.rating' (ratingClick)="clickRating($event)">
                </rating>
            </li>
            <kendo-popup [anchor]="anchor" class="popUpContent" *ngIf="showPopUp">
                Quoté : {{trip?.rating}}
            </kendo-popup>
        </ul>
        <p>Date de Départ : {{trip?.leaving | fmTripDate}}</p>
        <a class="btn btn-sm btn-primary" [routerLink]="[trip.id]">Voir Trip</a>
    </div>

    <section class="col-md-12">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </section>
</main>


