<div *ngIf="isShowNotif" class="panel panel-success">
    <div class="panel-heading">
        <p>Action effectuée.</p>        
    </div>
    <div class="panel-body">
        <h3>Succès supprimer #</h3>
        <h4>{{idToDelete}}</h4>
    </div>
    <button class="btn btn-sm btn-success" (click)="hideNotif()">Hide</button>
</div>

<kendo-dialog *ngIf="isDelete" (close)="cancelDelete()">
    <kendo-dialog-titlebar>
        <div style="font-size: 18px; line-height: 1.3em;">
            <span class="k-icon k-i-warning"></span> Supprimer donnée
        </div>
    </kendo-dialog-titlebar>
    <p style="margin: 30px; text-align: center;">Action irrévocable.</p>

    <kendo-dialog-actions>
        <button class="btn btn-md btn-danger" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-md btn-danger" (click)="onDeleteData()">Delete</button>
    </kendo-dialog-actions>
</kendo-dialog>