<h2>Statistiques pour la température : # {{this.id}}</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Wind km/h
                <!--<img src="../../../../wwwroot/dist/img/wind.png"/>-->
            </th>
            <th>
                Gust km/h
            </th>
            <th>
                Humidity %
            </th>
            <th>
                Sun Rising AM
            </th>
            <th>
                Sun Set PM
            </th>
            <th>
                Clear
            </th>
            <th>
                Feels Like °C
            </th>
            <th>
                Température
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let constraint of constraints">
            <td>
                {{constraint?.wind}}
            </td>
            <td>
                {{constraint?.gust}}
            </td>
            <td>
                {{constraint?.humidity}}
            </td>
            <td>
                {{constraint?.sunRising | fmTripDate}}
            </td>
            <td>
                {{constraint?.sunSet | fmTripDate}}
            </td>
            <td>
                {{constraint?.clear}}
            </td>
            <td>
                {{constraint?.feelsLike}}
            </td>
            <td>
                <p>Temp : {{constraint?.weather.name}}</p>
                <p>Heure : {{constraint?.weather.hour | fmHourLocal }}</p>
                <p>Temp °C : {{constraint?.weather.tempC}}</p>
            </td>
        </tr>
    </tbody>
</table>

<kendo-chart [categoryAxis]="{ categories: timeLine }">

    <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [title]="{ text: 'Statistiques' }">
        </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>

    <kendo-chart-title text="Statistiques Température / Heure" background="#e3e3e3" font="19pt sans-serif"></kendo-chart-title>
    <kendo-chart-legend position="top" orientation="horizontal"></kendo-chart-legend>
    <kendo-chart-tooltip format="{0}" padding="1"  [shared]="true"></kendo-chart-tooltip>
    <kendo-chart-area background="#f7f7fa" [margin]="30">
    </kendo-chart-area>

    <kendo-chart-series>
        <kendo-chart-series-item *ngFor="let constraint of constraints" type="line" style="smooth" 
                                  [data]="constraint.stats" [name]="constraint.weather.name">
        </kendo-chart-series-item>
    </kendo-chart-series>
</kendo-chart>

<button (click)="goBack()" class="btn btn-lg btn-primary">Back</button>