<h2>Constraints for the temperature : # {{this.id}}</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Wind km/h
                <!--<img src="../../../../wwwroot/dist/img/wind.png"/>-->
            </th>
            <th>
                Gust km/h
            </th>
            <th>
                Humidity %
            </th>
            <th>
                Sun Rising AM
            </th>
            <th>
                Sun Set PM
            </th>
            <th>
                Clear
            </th>
            <th>
                Feels Like °C
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let constraint of constraints">
            <td>
                {{constraint?.wind}}
            </td>
            <td>
                {{constraint?.gust}}
            </td>
            <td>
                {{constraint?.humidity}}
            </td>
            <td>
                {{constraint?.sunRising | fmDateLocal}}
            </td>
            <td>
                {{constraint?.sunSet | fmDateLocal}}
            </td>
            <td>
                {{constraint?.clear}}
            </td>
            <td>
                {{constraint?.feelsLike}}
            </td>
        </tr>
    </tbody>
</table>


<button (click)="goBack()" class="btn btn-lg btn-primary">Back</button>