<h1>{{titreWeather}}</h1>

<input [(ngModel)]="weather1.date"/>

<!-- JSON in string format (what you have to send to the server )-->
{{diagnostic}}

<div>
    <button class="btn btn-primary" (click)="showWeatherForm()">Create new Weather</button>
</div>

<div *ngIf="showForm" class="col-md-12">
    <weather-form [weatherToSave]="weather1" (newWeather)="postWeather($event)"></weather-form>
</div>

<div *ngIf="weathers">
    <h3>Weather for {{weather?.city}}</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>TempC</th>
                <th>Summary</th>
                <th>City</th>
                <th>Temp F</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weather of weathers">
                <td><a>{{weather?.id}}</a></td>
                <td><a [routerLink]="['detail', weather.name]">{{weather?.name}}</a></td>
                <td>{{weather?.date | date}}</td>
                <td>{{weather?.tempC}}</td>
                <td>{{weather?.summary}}</td>
                <td>{{weather?.city}}</td>
                <td>{{weather?.temperatureF}}</td>
            </tr>
        </tbody>
    </table>
    
</div>

<router-outlet></router-outlet>





