<h1>{{titreWeather}}</h1>

<div>
    <button class="btn btn-primary" (click)="showWeatherForm()">Create new Weather</button>
</div>

<delete [onDelete]="inputDelete" [weatherToDeleteId]="inputIdDelete" (deleteSuccess)="refreshResults($event)"></delete>

<div *ngIf="showForm" class="col-md-12">
    <weather-form [weatherToSave]="weather1" (newWeather)="postWeather($event)" (edWeather)="editWeather($event)" [modeEdit]="editForm"></weather-form>
</div>

<div *ngIf="weathers">
    <h3>Weather for {{weather?.city}}</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>TempC</th>
                <th>Summary</th>
                <th>City</th>
                <th>Temp F</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weather of weathers">
                <td>{{weather?.id}}</td>
                <td><a [routerLink]="['detail', weather.name]">{{weather?.name}}</a></td>
                <td>{{weather?.date | fmDateLocal}}</td>
                <td>{{weather?.tempC}}</td>
                <td>{{weather?.summary}}</td>
                <td>{{weather?.city}}</td>
                <td>{{weather?.temperatureF}}</td>
                <td><a (click)="goDelete(weather.id)"><i class="glyphicon glyphicon-scissors">Delete</i></a></td>
                <td><a (click)="goEdit(weather)"><i class="glyphicon glyphicon-pencil">Edit</i></a></td>
            </tr>
        </tbody>
    </table>
    
</div>

<delete></delete>

<router-outlet></router-outlet>






