<h1>{{titreWeather}}</h1>

<div>
    <button class="btn btn-primary" (click)="showWeatherForm()">Enregistrer Température</button>
</div>

<delete [isDelete]="inputDelete" [weatherToDeleteId]="inputIdDelete" [objectToDelete]="objectName" (deleteSuccess)="refreshResults($event)"></delete>

<div *ngIf="showForm" class="col-md-12">
    <weather-form [weatherToSave]="weather1" (newWeather)="postWeather($event)" (edWeather)="editWeather($event)" [modeEdit]="editForm"></weather-form>
</div>

<div *ngIf="weathers">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Heure AM/PM</th>
                <th>Température °C</th>
                <th>Sommaire</th>
                <th>Température °F</th>
                <th>Supprimer</th>
                <th>Éditer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weather of weathers">
                <td><a [routerLink]="['detail', weather.id]">{{weather?.id}}</a></td>
                <td>{{weather?.name}}</td>
                <td>{{weather?.hour | fmHourLocal}}</td>
                <td>{{weather?.tempC}}</td>
                <td>{{weather?.summary}}</td>
                <td>{{weather?.temperatureF}}</td>
                <td><a (click)="goDelete(weather.id)"><i class="glyphicon glyphicon-scissors"> Supprimer</i></a></td>
                <td><a (click)="goEdit(weather)"><i class="glyphicon glyphicon-pencil"> Éditer</i></a></td>
            </tr>
        </tbody>
    </table>
    
</div>

<delete></delete>

<router-outlet></router-outlet>






