.template{ 
    display: inline-block; 
    background: #333; 
    color: #fff; 
    border-radius: 50%; 
    width: 18px; 
    height: 18px; 
    text-align: center; 
}

.template > h4 { 
    font-size: 1em; 
    font-weight: bold; 
    padding: 0 8px;
}